@import url("https://api.fontshare.com/v2/css?f[]=switzer@300,400&display=swap");

$font: "Switzer", sans-serif;
$fontSize1: 6rem;
$fontSize2: 5.25rem;
$fontSize3: 4.5rem;
$fontSize4: 4rem;
$fontSize5: 1.2rem;
$fontSize6: 1rem;
$fontSize7: 0.875rem;
$fontSize8: 2.4rem;
$fontSize9: 3rem;
